    * {
      font-family: 'Red Hat Text', sans-serif;
      font-size: 14px;
      text-align: center;
      align-content: center;
      margin: 0;
      padding: 0;
    }

    .attribution {
      font-size: 11px;
      margin-bottom: 5px;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    footer {
      background-image: url('images/pattern-hills.svg');
      background-size:cover;
      background-repeat: no-repeat;
      color: white;
      position: fixed;
      width: 100%;
      bottom: 0;
    }
    footer img{
      margin: 1%;
    }
    h1{
      color: white;
      font-size: x-large;
      margin-bottom: 8%;
      letter-spacing: 10px;
    }
    body {
      background-image: url('images/bg-stars.svg');
      background-size: cover;
      background-color: rgb(35, 29, 43);   
    }

    footer img:hover {
      fill: hsl(345, 95%, 68%)
    }

    #calendar{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .calendarModel {
      background-color: hsl(236, 21%, 26%);
      height: 10em;
      width: 15em;
      margin: 10px;
      top: 50%;
      color: hsl(345, 95%, 68%);
      font-size: x-large;
    }
    main{
      margin-top: 12%;
    }
